html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: #eee;
    word-break: break-word
    };